@import url('https://fonts.googleapis.com/css?family=Alice|Open+Sans');

body
{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: black;
}

@mixin headingfont() {
  font-family: 'Alice', serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6
{
  @include headingfont();
}
