.path-frontpage
{
  .layout-content
  {
    background: url(../images/bg-home-g.svg) no-repeat 5% top;
    background-size: auto 100%;
  }
}

.block--home-services
{
  padding: 80px 25px;
  background: url(../images/bg-whiteboard.jpg) no-repeat center center;
  background-size: cover;
  color: white;

  & > div
  {
    max-width: 960px;
    margin: 0 auto;
  }
  h2
  {
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid white;
    line-height: normal;
  }
  .services
  {
    list-style: none;
    text-align: center;
    margin: 75px 0 0 0;

    &
    {
      @media (max-width: 940px)
      {
        margin: 0 -8px;
      }
    }

    li
    {
      display: inline-block;
      width: 150px;
      margin: 0 15px 60px 15px;
      vertical-align: top;
      font-weight: bold;
      font-size: 18px;

      &
      {
        @media (max-width: 940px)
        {
          width: 130px;
          margin: 0 8px 60px 8px;
        }
      }

      &:before
      {
        content: "";
        display: block;
        height: 75px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        margin-bottom: 30px;
      }      
    }
  }
  .pr:before
  {
    background-image: url(../images/icon-services-pr-white.svg);
  }
  .planning:before
  {
    background-image: url(../images/icon-services-planning-white.svg);
  }
  .brand:before
  {
    background-image: url(../images/icon-services-brand-white.svg);
  }
  .website:before
  {
    background-image: url(../images/icon-services-website-white.svg);
  }
  .ads:before
  {
    background-image: url(../images/icon-services-ads-white.svg);
  }
}

.block--home-team
{
  clear: both;
  padding: 80px 25px;

  & > div
  {
    max-width: 960px;
    margin: 0 auto;
  }
  h2
  {
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid black;
    line-height: normal;
  }
  .view-team-members
  {
    margin: 0 -15px;
  }
}

.block--newsletter
{
  clear: both;
  background: #eeeeee;
  padding: 80px 25px;
  text-align: center;

  label
  {
    display: inline-block;
    line-height: 40px;
    vertical-align: top;
    text-transform: uppercase;
    margin-right: 10px;

    &
    {
      @media (max-width: 760px)
      {
        display: block;
        line-height: 1;
        padding-bottom: 0.5em;
        margin: 0;
        text-align: center;
      }
    }
  }
  input[type=email]
  {
    display: inline-block;
    vertical-align: top;
    line-height: 38px;
    height: 40px;
    border: 0;
    border-bottom: 2px solid black;
    padding: 0 15px;
    width: 295px;
    max-width: 100%;
    background: transparent;
    box-sizing: border-box;
    margin-right: 20px;

    &
    {
      @media (max-width: 760px)
      {
        display: block;
        width: 100%;
        max-width: 270px;
        margin: 0 auto 0.5em auto;
      }
    }
  }
  input[type=submit]
  {
    color: white;
    background: black;
    border-radius: 0;
    border: 0;
    height: 40px;
    line-height: 40px;
    width: 140px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
  }
}
