.path-part-services
{
  .layout-content
  {
    background: black url(../images/bg-whiteboard.jpg) no-repeat center center;
    background-size: cover;
    color: white;

    h1
    {
      border-color: white;
    }
  }
}

.block--services-list
{
  clear: both;
  padding: 80px 25px;

  & > div
  {
    max-width: 960px;
    margin: 0 auto;
  }
  h2
  {
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    line-height: normal;
    
        &
        {
          @media (max-width: 760px)
          {
            font-size: 2em;
          }
        }
  }
  .services
  {
    list-style: none;
    text-align: center;
    margin: 75px 0 0 0;

    &
    {
      @media (max-width: 940px)
      {
        margin: 0 -8px;
      }
    }

    li
    {
      display: inline-block;
      width: 150px;
      margin: 0 40px 80px 40px;
      vertical-align: top;
      font-weight: bold;
      font-size: 18px;

      &
      {
        @media (max-width: 940px)
        {
          width: 130px;
          margin: 0 8px 60px 8px;
        }
      }

      &:before
      {
        content: "";
        display: block;
        height: 100px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        margin-bottom: 30px;
      }      
    }
  }
  .brand:before
  {
    background-image: url(../images/icon-services-brand-black.svg);
  }
  .planning:before
  {
    background-image: url(../images/icon-services-planning-black.svg);
  }
  .key-message:before
  {
    background-image: url(../images/icon-services-key-message-black.svg);
  }
  .website:before
  {
    background-image: url(../images/icon-services-website-black.svg);
  }
  .design:before
  {
    background-image: url(../images/icon-services-design-black.svg);
  }
  .website-support:before
  {
    background-image: url(../images/icon-services-website-support-black.svg);
  }
  .pr:before
  {
    background-image: url(../images/icon-services-pr-black.svg);
  }
  .social-strategy:before
  {
    background-image: url(../images/icon-services-social-strategy-black.svg);
  }
  .social-management:before
  {
    background-image: url(../images/icon-services-social-management-black.svg);
  }
  .campaign:before
  {
    background-image: url(../images/icon-services-campaign-black.svg);
  }
  .events:before
  {
    background-image: url(../images/icon-services-events-black.svg);
  }
  .relationships:before
  {
    background-image: url(../images/icon-services-relationships-black.svg);
  }
  .ads:before
  {
    background-image: url(../images/icon-services-ads-black.svg);
  }
  .media-listening:before
  {
    background-image: url(../images/icon-services-media-listening-black.svg);
  }
  .content:before
  {
    background-image: url(../images/icon-services-content-black.svg);
  }
  .marketing-support:before
  {
    background-image: url(../images/icon-services-marketing-support-black.svg);
  }
}
