.view-team-members.view-display-id-block_1
{
  .view-content
  {
    text-align: center;
  }
  .views-row
  {
    display: inline-block;
    position: relative;
    margin: 0 15px 30px 15px;
  }
  
  
}

.node--team-member--teaser
{
  & > a
  {
    display: block;
    width: 100%;
    height: 100%;
  }
  .field--name-field-image img
  {
    display: block;
  }
  .node__content
  {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0 15px;
    text-align: center;
    color: white;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .field--name-title
  {
    display: block;
    font-size: 0.9375em;
    line-height: 1;
    margin-bottom: 4px;
    @include headingfont();
  }
  .field--name-field-title
  {
    text-transform: uppercase;
    font-size: 0.75em;
    line-height: 1;
  }
  &:hover, &:focus
  {
    & > a:before
    {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.5;
    }
    .node__content
    {
      display: block;
    }
  }
}

.node--team-member--full
{
  margin-top: 6.25em;

  .node__content
  {
    text-align: left;
    overflow: hidden;
    padding-top: 15%;
  }
  .node__content > h2
  {
    font-size: 3em;
    line-height: 1;
    padding-bottom: 12px;
    border-bottom: 2px solid black;
    margin-bottom: 30px;
  }
  .field--name-field-title
  {
    @include headingfont();
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 0.5em;
  }
  .linkedin
  {
    display: inline-block;
    font-size: 0;
    text-decoration: none;
    width: 15px;
    height: 15px;
    padding: 5px;
    background: url(../images/social-in-black.svg) no-repeat center center;
    vertical-align: top;
  }
}

.view-team-members.view-display-id-page_1
{
  .views-row
  {
    clear: both;

    &:nth-child(2n + 1)
    {
      .field--name-field-image
      {
        float: left;
        margin-right: 60px;
      }
    }
    &:nth-child(2n)
    {
      .field--name-field-image
      {
        float: right;
        margin-left: 60px;
      }
    }
  }
}