.view-team-members
{
  .view-content
  {
    text-align: center;
  }
  .views-row
  {
    display: inline-block;
    position: relative;
    margin: 0 15px 30px 15px;
  }
  .field--name-field-image img
  {
    display: block;
  }
  .node__content
  {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0 15px;
    text-align: center;
    color: white;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .field--name-title
  {
    display: block;
    font-size: 0.9375em;
    line-height: 1;
    margin-bottom: 4px;
    @include headingfont();
  }
  .field--name-field-title
  {
    text-transform: uppercase;
    font-size: 0.75em;
    line-height: 1;
  }
  .node:hover, .node:focus
  {
    &:before
    {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.5;
    }
    .node__content
    {
      display: block;
    }
  }
}
