.layout-footer
{
  background: black;
  color: white;
  clear: both;
  padding: 75px 25px;

  & > div
  {
    max-width: 1260px;
    margin: 0 auto;
  }
  a
  {
    color: white;
    text-decoration: none;

    &:hover
    {
      text-decoration: underline;
    }
  }
}

.block--get-engaged
{
  clear: both;
  background: #eeeeee;
  padding: 80px 25px;
  text-align: center;

  h2
  {
    line-height: 1;

    &
    {
      @media (max-width: 760px)
      {
        font-size: 2em;
      }
    }
  }
  .button
  {
    display: inline-block;
    color: white;
    background: black;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
  }
}

.block--footer-logo
{
  float: left;
  margin-right: 120px;

  &
  {
    @media (max-width: 1240px)
    {
      margin-right: 40px;
    }
    @media (max-width: 1140px)
    {
      float: none;
      margin: 0 0 80px 0;
      text-align: center;
    }
  }
  img
  {
    display: inline-block;
    height: 60px;
    width: auto;
  }
}

.block--footer-find-us
{
  float: left;
  position: relative;
  padding: 0 0 0 250px;
  background: url(../images/location-outline.svg) no-repeat top left;
  background-size: 225px auto;
  margin-right: 30px;
  margin-bottom: 30px;
  min-height: 170px;

  &
  {
    @media (max-width: 1140px)
    {
      margin-right: 25px;
      padding-right: 0;
    }
    @media (max-width: 640px)
    {
      box-sizing: border-box;
      width: 100%;
      float: none;
      padding-right: 0;
      margin-right: 0;
    }
    @media (max-width: 480px)
    {
      padding-left: 150px;
    }
    @media (max-width: 370px)
    {
      padding-left: 110px;
    }
  }
  
  h2
  {
    line-height: 1;
    margin-bottom: 25px;
    background: black;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
  }
  p
  {
    font-size: 16px;
    line-height: 2;
    background: black;
    margin-bottom: 1.5em;
  }
  &
  {
    @media (min-width: 640px)
    {
      .field--name-body
      {
        width: 100%;
        max-width: 400px;
      }
      .address1
      {
        float: left;
        width: 170px;
        border-right: 1px solid white;
        padding-right: 25px;
        margin-right: 25px;
      }
      .address2
      {
        float: left;
        width: 179px;
      }
    }
  }
}

.block--footer-contact-us
{
  float: right;
  position: relative;
  width: 240px;
  padding: 0;

  &
  {
    @media (max-width: 1140px)
    {
      width: 275px;
    }
    @media (max-width: 1024px)
    {
      float: left;
      clear: left;
      padding-left: 250px;
    }
    @media (max-width: 640px)
    {
      float: none;
      width: 100%;
      padding-left: 0;
    }
  }

  h2
  {
    line-height: 1;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
  }
  p
  {
    font-size: 16px;
    line-height: 2;
  }
  .ig, .in, .tw, .fb
  {
    font-size: 0;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: top;
    background-size: 15px 14px;
  }
  .ig
  {
    background-image: url(../images/social-ig-white.svg);
  }
  .in
  {
    background-image: url(../images/social-in-white.svg);
  }
  .fb
  {
    background-image: url(../images/social-fb-white.svg);
  }
  .tw
  {
    background-image: url(../images/social-tw-white.svg);
  }
}

.footer-bottom
{
  clear: both;
  padding-top: 45px;
  
  & > div
  {
    padding: 40px 0;
    border-top: 2px solid white;
  }
}

.block--footer-menu
{
  float: left;

  &
  {
    @media (max-width: 760px)
    {
      display: none;
    }
  }

  .menu
  {
    list-style: none;

    li
    {
      float: left;
      margin-right: 30px;
    }
    a
    {
      text-transform: uppercase;
      font-size: 0.875em;
    }
  }
}

.copyright
{
  @include headingfont();
  float: right;
  font-size: 0.9375em;

  &
  {
    @media (max-width: 480px)
    {
      float: none;
      text-align: center;
    }
  }
}
