.layout-main
{
  h1
  {
    font-size: 3.25em;
    line-height: normal;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid black;

    &
    {
      @media (max-width: 760px)
      {
        font-size: 2em;
      }
    }
  }
  p
  {
    margin-bottom: 1.5em;
  }
  ul, ol
  {
    margin-bottom: 1.5em;
    margin-left: 30px;
  }
  li
  {
    margin-left: 25px;
    margin-bottom: 0.5em;
  }
  blockquote
  {
    position: relative;
    padding: 5px 40px;

    &
    {
      @media (max-width: 760px)
      {
        padding: 5px 25px;
      }
    }

    &:before,
    &:after
    {
      @include headingfont();
      font-size: 3.25em;
      display: block;
      position: absolute;
      line-height: 1;

      &
      {
        @media (max-width: 760px)
        {
          font-size: 2em;
        }
      }
    }
    &:before
    {
      content: "\201C";
      left: 0;
      top: 0;
    }
    &:after
    {
      content: "\201D";
      right: 0;
      bottom: 0;
      line-height: 0.5;
    }
  }
  cite
  {
    @include headingfont();
    display: block;
    font-style: normal;
    text-align: right;
  }
}

.region-content
{
  clear: both;
  padding: 100px 25px;
  max-width: 940px;
  margin: 0 auto;

  &
  {
    @media (max-width: 760px)
    {
      padding: 40px 25px;
    }
  }
}

.path-part-about,
.path-part-research
{
  .layout-content
  {
    background: url(../images/bg-home-g.svg) no-repeat 5% top;
    background-size: 66% auto;
  }
}
