.region-splash
{
  background: url(../images/bg-splash.jpg?v2) no-repeat center center;
  background-size: cover;
  position: relative;
  padding-bottom: 60%;
  padding-bottom: 100vh;

  @media print, (max-width: 860px)
  {
    display: none;
  }
}

.block--splash-logo img
{
  display: block;
  width: 220px;
  height: 154px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -77px;
  margin-left: -110px;
}
