@import url("https://fonts.googleapis.com/css?family=Alice|Open+Sans");
* {
  margin: 0;
  padding: 0; }

input, textarea, button {
  font-family: inherit;
  font-size: inherit; }

body {
  background: white; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: black; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alice', serif;
  font-weight: 400; }

a {
  color: black;
  text-decoration: underline; }

input[type=text],
input[type=password],
input[type=email] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  border: 1px solid #d8d8d8;
  height: 52px;
  line-height: 50px;
  padding: 0 24px;
  color: black;
  border-radius: 2px;
  -webkit-appearance: none;
  appearance: none; }

textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  border: 1px solid #d8d8d8;
  height: 120px;
  line-height: 1.2;
  padding: 12px 24px;
  color: black;
  border-radius: 2px;
  -webkit-appearance: none;
  appearance: none; }

input[type=submit],
button[type=submit] {
  color: white;
  background: black;
  text-transform: uppercase;
  padding: 12px 24px;
  display: inline-block;
  box-sizing: border-box;
  min-width: 140px;
  line-height: 1;
  max-width: 100%;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none; }

.region-splash {
  background: url(../images/bg-splash.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  padding-bottom: 60%;
  padding-bottom: 100vh; }
  @media print {
    .region-splash {
      display: none; } }

.block--splash-logo img {
  display: block;
  width: 220px;
  height: 154px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -77px;
  margin-left: -110px; }

.layout-top {
  height: 203px;
  padding: 45px 25px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; }
  .layout-top:after {
    content: "";
    display: block;
    clear: both; }
  .layout-top > div {
    max-width: 1260px;
    margin: 0 auto; }

.menu-fixed .layout-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }

.menu-fixed .layout-main {
  padding-top: 203px; }

.region-header-left {
  float: left;
  margin-right: 45px; }

.region-header-right {
  float: right;
  margin-left: 45px; }

.block--logo img {
  display: block;
  height: auto;
  max-width: 100%; }

.block--social-header .field--name-body ul {
  list-style: none; }

.block--social-header .field--name-body li {
  display: inline-block; }

.block--social-header .field--name-body a {
  font-size: 0;
  display: block;
  width: 15px;
  height: 15px;
  padding: 5px;
  background-repeat: no-repeat;
  background-position: center center; }

.block--social-header .field--name-body .ig {
  background-image: url(../images/social-ig-black.svg); }

.block--social-header .field--name-body .in {
  background-image: url(../images/social-in-black.svg); }

.block--main-menu {
  text-align: center; }
  .block--main-menu .menu {
    list-style: none;
    line-height: 113px; }
    .block--main-menu .menu li {
      display: inline-block;
      line-height: 1.5; }
    .block--main-menu .menu a {
      color: black;
      font-size: 0.9375em;
      text-transform: uppercase;
      text-decoration: none;
      display: block;
      padding: 5px 12px; }
      .block--main-menu .menu a:hover {
        text-decoration: underline; }

.layout-footer {
  background: black;
  color: white;
  clear: both;
  padding: 75px 25px; }
  .layout-footer > div {
    max-width: 1260px;
    margin: 0 auto; }
  .layout-footer a {
    color: white;
    text-decoration: none; }
    .layout-footer a:hover {
      text-decoration: underline; }

.block--get-engaged {
  clear: both;
  background: #eeeeee;
  padding: 80px 25px;
  text-align: center; }
  .block--get-engaged h2 {
    font-size: 3em;
    line-height: 1; }
  .block--get-engaged .button {
    display: inline-block;
    color: white;
    background: black;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    text-decoration: none; }

.block--footer-logo {
  float: left;
  margin-right: 45px; }

.block--footer-find-us {
  float: left;
  position: relative;
  padding: 20px 45px 20px 250px;
  background: url(../images/bg-findus.png) no-repeat top left;
  margin-right: 45px; }
  .block--footer-find-us h2 {
    font-size: 2.25em;
    line-height: 1;
    margin-bottom: 25px; }
  .block--footer-find-us p {
    font-size: 1.0625em;
    line-height: 2; }

.block--footer-contact-us {
  float: right;
  position: relative;
  width: 300px;
  padding: 20px 0; }
  .block--footer-contact-us:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    width: 100%;
    border-top: 1px solid white; }
  .block--footer-contact-us h2 {
    font-size: 2.25em;
    line-height: 1;
    margin-bottom: 25px; }
  .block--footer-contact-us p {
    font-size: 1.0625em;
    line-height: 2; }
  .block--footer-contact-us .ig, .block--footer-contact-us .in {
    font-size: 0;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: top; }
  .block--footer-contact-us .ig {
    background-image: url(../images/social-ig-white.svg); }
  .block--footer-contact-us .in {
    background-image: url(../images/social-in-white.svg); }

.footer-bottom {
  clear: both;
  padding-top: 45px; }
  .footer-bottom > div {
    padding: 40px 0;
    border-top: 2px solid white; }

.block--footer-menu {
  float: left; }
  .block--footer-menu .menu {
    list-style: none; }
    .block--footer-menu .menu li {
      float: left;
      margin-right: 30px; }
    .block--footer-menu .menu a {
      text-transform: uppercase;
      font-size: 0.875em; }

.copyright {
  font-family: 'Alice', serif;
  font-weight: 400;
  float: right;
  font-size: 0.9375em; }

.layout-main h1 {
  font-size: 3.25em;
  line-height: normal;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 2px solid black; }

.layout-main p {
  margin-bottom: 1.5em; }

.layout-main ul, .layout-main ol {
  margin-bottom: 1.5em;
  margin-left: 30px; }

.layout-main li {
  margin-left: 25px; }

.layout-main blockquote {
  position: relative;
  padding: 5px 40px; }
  .layout-main blockquote:before, .layout-main blockquote:after {
    font-family: 'Alice', serif;
    font-weight: 400;
    font-size: 3em;
    display: block;
    position: absolute;
    line-height: 1; }
  .layout-main blockquote:before {
    content: "\201C";
    left: 0;
    top: 0; }
  .layout-main blockquote:after {
    content: "\201D";
    right: 0;
    bottom: 0;
    line-height: 0.5; }

.layout-main cite {
  font-family: 'Alice', serif;
  font-weight: 400;
  display: block;
  font-style: normal;
  text-align: right; }

.region-content {
  clear: both;
  padding: 100px 25px;
  max-width: 940px;
  margin: 0 auto; }

.path-frontpage .layout-content {
  background: url(../images/bg-home-g.svg) no-repeat 5% top;
  background-size: auto 100%; }

.block--home-services {
  padding: 80px 25px;
  background: url(../images/bg-whiteboard.jpg) no-repeat center center;
  background-size: cover;
  color: white; }
  .block--home-services > div {
    max-width: 960px;
    margin: 0 auto; }
  .block--home-services h2 {
    font-size: 2.75em;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid white;
    line-height: normal; }
  .block--home-services .services {
    list-style: none;
    text-align: center;
    margin: 0; }
    .block--home-services .services li {
      display: inline-block;
      width: 140px;
      margin: 0 15px 30px 15px;
      vertical-align: top; }
    .block--home-services .services a {
      display: block;
      color: white;
      text-transform: uppercase;
      text-decoration: none; }
      .block--home-services .services a:hover {
        text-decoration: underline; }
      .block--home-services .services a:before {
        content: "";
        display: block;
        height: 120px;
        background-repeat: no-repeat;
        background-position: center center; }
  .block--home-services .pr:before {
    background-image: url(../images/icon-pr-white.svg); }
  .block--home-services .partnerships:before {
    background-image: url(../images/icon-partnerships-white.svg); }
  .block--home-services .seo:before {
    background-image: url(../images/icon-seo-white.svg); }
  .block--home-services .creative:before {
    background-image: url(../images/icon-creative-white.svg); }
  .block--home-services .media:before {
    background-image: url(../images/icon-media-white.svg); }

.block--home-team {
  clear: both;
  padding: 80px 25px; }
  .block--home-team > div {
    max-width: 960px;
    margin: 0 auto; }
  .block--home-team h2 {
    font-size: 2.75em;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid black;
    line-height: normal; }

.block--newsletter {
  clear: both;
  background: #eeeeee;
  padding: 80px 25px;
  text-align: center; }
  .block--newsletter label {
    display: inline-block;
    line-height: 40px;
    vertical-align: top;
    text-transform: uppercase;
    margin-right: 10px; }
  .block--newsletter input[type=email] {
    display: inline-block;
    vertical-align: top;
    line-height: 38px;
    height: 40px;
    border: 0;
    border-bottom: 2px solid black;
    padding: 0 15px;
    width: 295px;
    max-width: 100%;
    background: transparent;
    box-sizing: border-box;
    margin-right: 20px; }
  .block--newsletter input[type=submit] {
    color: white;
    background: black;
    border-radius: 0;
    border: 0;
    height: 40px;
    line-height: 40px;
    width: 140px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer; }

.view-team-members.view-display-id-block_1 .view-content {
  text-align: center; }

.view-team-members.view-display-id-block_1 .views-row {
  display: inline-block;
  position: relative;
  margin: 0 15px 30px 15px; }

.node--team-member--teaser > a {
  display: block;
  width: 100%;
  height: 100%; }

.node--team-member--teaser .field--name-field-image img {
  display: block; }

.node--team-member--teaser .node__content {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0 15px;
  text-align: center;
  color: white;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%); }

.node--team-member--teaser .field--name-title {
  display: block;
  font-size: 0.9375em;
  line-height: 1;
  margin-bottom: 4px;
  font-family: 'Alice', serif;
  font-weight: 400; }

.node--team-member--teaser .field--name-field-title {
  text-transform: uppercase;
  font-size: 0.75em;
  line-height: 1; }

.node--team-member--teaser:hover > a:before, .node--team-member--teaser:focus > a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5; }

.node--team-member--teaser:hover .node__content, .node--team-member--teaser:focus .node__content {
  display: block; }

.node--team-member--full {
  margin-top: 6.25em; }
  .node--team-member--full .node__content {
    text-align: left;
    overflow: hidden;
    padding-top: 15%; }
  .node--team-member--full .node__content > h2 {
    font-size: 3em;
    line-height: 1;
    padding-bottom: 12px;
    border-bottom: 2px solid black;
    margin-bottom: 30px; }
  .node--team-member--full .field--name-field-title {
    font-family: 'Alice', serif;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 0.5em; }
  .node--team-member--full .linkedin {
    display: inline-block;
    font-size: 0;
    text-decoration: none;
    width: 15px;
    height: 15px;
    padding: 5px;
    background: url(../images/social-in-black.svg) no-repeat center center;
    vertical-align: top; }

.view-team-members.view-display-id-page_1 .views-row {
  clear: both; }
  .view-team-members.view-display-id-page_1 .views-row:nth-child(2n + 1) .field--name-field-image {
    float: left;
    margin-right: 60px; }
  .view-team-members.view-display-id-page_1 .views-row:nth-child(2n) .field--name-field-image {
    float: right;
    margin-left: 60px; }

.node--type-news-article.node--view-mode-teaser {
  position: relative;
  padding-top: 40px;
  overflow: hidden; }
  .node--type-news-article.node--view-mode-teaser:after {
    content: "";
    display: block;
    clear: both; }
  .node--type-news-article.node--view-mode-teaser .field--name-field-image {
    width: 640px;
    max-width: 75%;
    position: absolute;
    left: 0;
    top: 0; }
    .node--type-news-article.node--view-mode-teaser .field--name-field-image img {
      display: block;
      width: 100%;
      height: auto; }
  .node--type-news-article.node--view-mode-teaser .node__content {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.95);
    padding: 20px 30px 30px 30px;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    float: right; }
  .node--type-news-article.node--view-mode-teaser h2 {
    font-size: 2.5em;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
    line-height: normal; }
    .node--type-news-article.node--view-mode-teaser h2 a {
      text-decoration: none; }
  .node--type-news-article.node--view-mode-teaser .created {
    font-family: 'Alice', serif;
    font-weight: 400;
    font-size: 1.25em;
    margin: 1em 0 0.5em; }
  .node--type-news-article.node--view-mode-teaser .read-more {
    font-family: 'Alice', serif;
    font-weight: 400;
    margin-top: 0.5em;
    text-decoration: none; }
    .node--type-news-article.node--view-mode-teaser .read-more:hover {
      text-decoration: underline; }

.view-news .views-row {
  margin-bottom: 6.25em; }

.page-node-type-news-article .layout-content {
  padding-top: 35%;
  background: url(../images/bg-news.jpg) no-repeat top center;
  background-size: 100% auto; }

.page-node-type-news-article .region-content {
  padding-top: 0; }

.block--page-title-news {
  margin-bottom: 6.25em; }

.node--type-news-article.node--view-mode-full .created {
  font-family: 'Alice', serif;
  font-weight: 400;
  font-size: 1.25em;
  margin-bottom: 0.5em; }

.block--news-pager {
  margin-top: 6.25em; }
  .block--news-pager .entity-pager-list {
    list-style: none; }
    .block--news-pager .entity-pager-list li {
      margin: 0; }
    .block--news-pager .entity-pager-list a {
      display: block;
      margin: 0.5em;
      color: white;
      text-decoration: none;
      background: black;
      line-height: 1;
      padding: 12px 10px;
      min-width: 180px;
      text-transform: uppercase;
      font-size: 1.1em; }
    .block--news-pager .entity-pager-list .inactive {
      display: none; }

.path-part-about .layout-content {
  background: url(../images/bg-home-g.svg) no-repeat 5% top;
  background-size: auto 100%; }

.block--our-mission {
  clear: both;
  background: black;
  color: white;
  padding: 80px 25px; }
  .block--our-mission > div {
    max-width: 960px;
    margin: 0 auto; }
  .block--our-mission h2 {
    font-size: 3em;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    line-height: normal; }
  .block--our-mission .field--name-body {
    text-align: center; }
  .block--our-mission ol {
    list-style: none;
    margin: 0; }
    .block--our-mission ol li {
      display: block;
      width: 33.333%;
      margin: 0;
      float: left;
      counter-increment: step-counter;
      box-sizing: border-box;
      padding: 0 20px; }
      .block--our-mission ol li:before {
        font-family: 'Alice', serif;
        font-weight: 400;
        content: counter(step-counter);
        display: block;
        font-size: 3em; }

.block--vision {
  clear: both;
  padding: 80px 25px; }
  .block--vision > div {
    max-width: 960px;
    margin: 0 auto; }
  .block--vision h2 {
    font-size: 3em;
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    line-height: normal; }

.path-part-services .layout-content {
  background: black url(../images/bg-whiteboard.jpg) no-repeat center center;
  background-size: cover;
  color: white; }
  .path-part-services .layout-content h1 {
    border-color: white; }

.block--services-list {
  clear: both;
  padding: 80px 25px; }
  .block--services-list > div {
    max-width: 960px;
    margin: 0 auto; }
  .block--services-list h2 {
    font-size: 3em;
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    line-height: normal; }
  .block--services-list .field--name-body ul {
    margin-left: 0;
    list-style: none; }
    .block--services-list .field--name-body ul li {
      padding: 0 10% 0 250px;
      margin: 60px 0 0 0;
      position: relative; }
      .block--services-list .field--name-body ul li:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 250px;
        background-repeat: no-repeat;
        background-position: top center; }
    .block--services-list .field--name-body ul .pr:before {
      background-image: url(../images/icon-pr-black.svg); }
    .block--services-list .field--name-body ul .partnerships:before {
      background-image: url(../images/icon-partnerships-black.svg); }
    .block--services-list .field--name-body ul .seo:before {
      background-image: url(../images/icon-seo-black.svg); }
    .block--services-list .field--name-body ul .creative:before {
      background-image: url(../images/icon-creative-black.svg); }
    .block--services-list .field--name-body ul .media:before {
      background-image: url(../images/icon-media-black.svg); }
    .block--services-list .field--name-body ul h3 {
      font-size: 1.4em;
      margin-bottom: 0.4em; }

.path-part-clients .layout-content {
  color: white;
  background: url(../images/bg-blackboard.jpg) no-repeat center center;
  background-size: cover; }
  .path-part-clients .layout-content h1 {
    border-color: white; }

.view-clients {
  clear: both;
  max-width: 960px;
  margin: 0 auto;
  padding: 6.25em 25px; }
  .view-clients:after {
    content: "";
    display: block;
    clear: both; }
  .view-clients .views-row {
    float: left;
    width: 22.75%;
    margin-left: 3%; }
    .view-clients .views-row:nth-child(4n+1) {
      clear: left;
      margin-left: 0; }
    .view-clients .views-row a {
      display: block; }
    .view-clients .views-row img {
      display: block;
      max-width: 100%;
      height: auto; }

.path-part-contact .layout-content {
  position: relative;
  background: url(../images/bg-contact.jpg) no-repeat center center;
  background-size: cover;
  padding: 6.25em 25px; }
  .path-part-contact .layout-content:after {
    content: "";
    display: block;
    clear: both; }
  @media (min-width: 860px) {
    .path-part-contact .layout-content {
      padding-top: 35%; } }

.path-part-contact .region-content {
  background: white;
  padding: 25px; }
  @media (min-width: 860px) {
    .path-part-contact .region-content {
      float: right;
      max-width: 500px; } }
  .path-part-contact .region-content h1 {
    margin: 0;
    padding-bottom: 10px; }

.webform--contact {
  padding: 10px 20px 0 20px; }
  .webform--contact label {
    position: absolute;
    left: -999999px; }
  .webform--contact .form-actions {
    margin-bottom: 0; }
